<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="wrap">
    <main id="content">
      <h1>로그인화면</h1>
      <section class="login-section">
        <div class="input-container">
          <input type="text" id="login" />
          <label for="login">로그인</label>
          <input type="text" id="password" />
          <label for="password">비밀번호</label>
        </div>
      </section>
    </main>
  </div>
</body>

</html>